$background-color: rgb(109, 0, 0);

#background {
	background-color: $background-color;
}

/* #logout-button {
	font-size: 18px;
	background-color: $button-color;
	color: $white-color;
	border: none;
	text-decoration: none;
	margin-top: 8px;
	padding: 6px;
	border-radius: 20%;
	justify-content: center;
	padding-left: '2rem';
} */