$main-color: 'maroon';
$text-color: rgb(0, 0, 0);
$background-color: #000000;
$button-color: rgb(109, 0, 0);
$white-color: rgb(255, 255, 255);

#movie__img {
	max-height: 600px;
	max-width: 100%;
}

.movie__title {
	font-size: 40px;
	font-weight: bold;
}

.movie__header {
	font-size: 18px;
	font-weight: bold;
}

.movie__text {
	font-size: 16px;
}

#back-button {
	font-size: 18px;
	background-color: $button-color;
	color: $white-color;
	border: none;
	text-decoration: none;
	margin-top: 8px;
	padding: 6px;
	border-radius: 20%;
	justify-content: center;
	padding-left: '2rem';
}