a {
	&:link {
		text-decoration: none;
		color: white;
	}

	&:visited {
		text-decoration: none;
		color: white;
	}

	&:hover {
		text-decoration: none;
		color: white;
	}

	&:active {
		text-decoration: none;
		color: white;
	}
}